{% extends 'home/homebase.html' %}
{% load static %}
{% block title %}User Login {{setting.title}}{% endblock  %}
{% block description %}{{setting.description}}{% endblock  %}
{% block keywords %}{{setting.keywords}}{% endblock  %}

{% block sidebar %}{% include 'home/sidebar.html' %}{% endblock %}

{% block body %}
	<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="/">Home</a></li>
				<li class="active">User Login</li>
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
                <!--safe dùng để format lại font chữ -->
                <div class="col-md-6">
                    <div class="billing-details">

                        <div class="section-title">	
                            <h3 class="title">Login Form</h3>
                        </div>

                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{message.tags}}" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}

                        <form action="" method="post">
                            {% csrf_token %}
                           <div class="form-group">
								<input class="input" type="text" name="username" placeholder="User Name">
							</div>
							<div class="form-group">
								<input class="input" type="password" name="password" placeholder="Password" id="id_password">
								<i style="margin-left: -30px; cursor: pointer;" class="far fa-eye" id="togglePassword"></i>
							</div>
                            <input type="submit" value="Login">
                             <a class="text-uppercase" href="/reset_password">Forgot Password</a>                   
                        </form>
                      
                    </div>
                </div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->
<script>
  const togglePassword = document.querySelector('#togglePassword');
  const password = document.querySelector('#id_password');
 
  togglePassword.addEventListener('click', function (e) {
    // toggle the type attribute
    const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
    password.setAttribute('type', type);
    // toggle the eye slash icon
    this.classList.toggle('fa-eye-slash');
});
</script>

{% endblock %}